<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="jumbotron" th:fragment="tables-manager-title">
  		<h1>Mantenedor de Tablas</h1>
	</div>
	<div class="btn-group" th:fragment="tables-manager-menu">
	  <button type="button" class="btn btn-primary" onClick="location.href = 'departments_page;'">Department</button>
	  <button type="button" class="btn btn-primary" onClick="location.href = 'employees_page;'">Employees</button>
	</div>
</body>
</html>